*{
  box-sizing: border-box;
}

section{
  width: 100%;
  h1{
    margin:10px 40px;
    font-size: 32px;
    font-weight: bold;
  }
  .common-form{
    margin:10px 40px;
    input{
      margin-right: 5px;
    }
    select{
      margin-right: 5px;
    }
  }
  .tasks-columns{
    display: flex;
    .tasks-list{
      width:calc(33.33% - 20px);
      margin:20px;
      h2{
        margin-left: 20px;
      }
      .tasks{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
          
        .card{
          // width:calc(50% - 20px);
          // margin: 10px;
          width:100%;
          margin:10px 20px;
          background-color: rgba(0, 0, 0, 0.1);
          padding:20px;
          box-shadow: 2px 2px 8px rgba(0,0,0,0.08);
         
          border-radius: 4px;
          margin-bottom:8px;
    
          // &:nth-child(4n){
          //   margin-right:0;
          // }
        }
      }
    }
  }
  
}
nav{
  display: flex;
  padding:12px 80px;
  height: 60px;
  width:100vw;
  top: 0;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1d1d;
  color: #919191;
  border-bottom: 1px solid #2f2f2f;
  margin-right: auto;
  margin-left: auto;

  .logo-area{
      display: flex;
      font-size: 20px;
      align-items: center;
  }
      
  .nav-items{
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items:center;

      .search{
          height: 35px;
              width: 250px;
              font-weight: bold;
              border-radius: 20px;
              border: 2px solid #333;
              padding: 4px 10px;
              background: #1d1d1d;
              display: flex;
          input{
              border: none;
              background: #1d1d1d;
              font-weight: bold;
              color: #919191;
              outline: none;
          }    
      }
      .nav-item{
          font-size: 14px;
          font-weight: bold;
          a{
              text-decoration: none;
              color: #919191;
              &:hover{
                  color: white;
                  transition: color .25s ease-in-out;
              }
          }
      }
      .nav-item:hover{
          color: white;
          transition: color .25s ease-in-out;
          cursor: pointer;
      }
      .nav-item-login{
          font-size: 15px;
          font-weight: bold;
          color: white;
      }
      .nav-item-login:hover{
          color: #919191;
          transition: color .25s ease-in-out;
      }
  }

}